body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

header {
  background: #222;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  color: #00e0ff;
  margin: 0 10px;
  text-decoration: none;
}

main {
  padding: 40px;
  max-width: 800px;
  margin: auto;
}

section {
  background: white;
  padding: 20px;
  border-radius: 8px;
}


input, textarea, button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}